In [1]:
# ques1. wap to print -1 to 10
for i in range(-1,11):          #--------bydefoult 1 increment hota he
    print(i)

-1
0
1
2
3
4
5
6
7
8
9
10

In [2]:
x=-1
while x<=10:  #while ya for loop condition true pr hi excute krta opration
    print(x)
    x=x+1

-1
0
1
2
3
4
5
6
7
8
9
10

In [3]:
# ques2. wap to print -1 to -10
for i in range(-1,-11,-1):     #----------direction denote krne k liye - minus sign ka use krte he
    print(i)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [4]:
x=-1
while x>-11:
    print(x)
    x=x-1

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [5]:
# wap to print 1 to -10
for i in range(1,-11,-1):
    print(i)

1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [6]:
x=1
while x>-11:
    print(x)
    x=x-1

1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [3]:
# wap to print even number from 1 to 50
count=0
for i in range(1,51):
    if i%2==0:
        print(i)
        count=count+1
print("count-------->",count)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
count--------> 25

In [4]:
x=1
count=0
while x<51:
    if x%2==0:
        print(x)
        count=count+1
    x=x+1 
print("count-------->",count)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
count--------> 25

In [6]:
# wap to print odd number from 1 to 50
count=0
for i in range(1,51):
    if i%2==1:
        print(i)
        count=count+1
print("count--------->",count)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
count---------> 25

In [5]:
x=1
count=0
while x<51:
    if x%2==1:
        print(x)
        count=count+1
    x=x+1
print("count-------->",count)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
count--------> 25

In [ ]:
# wap to string reverse or not
# wap to string palindrome or not

In [16]:
a=input("enter String a=")
y=''
for i in a:
    y=i+y
print(a,"=",y)
if  a!=y:
    print("string is reverse")
elif a==y:
    print("string is not reverse")

enter String a=nitin
nitin = nitin
string is not reverse

In [35]:
a=input("Enter string a=")
b=""
for i in a :
    b=i+b
print(a)    
print(a,"=",b)
if a==b:
    print("palindrome")
else:
    print("not Palindrome")

Enter string a=wow
wow
wow = wow
palindrome